In [1]:
import sqlalchemy

In [2]:
sqlalchemy.__version__

'1.3.13'

In [4]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)

In [5]:
engine

Engine(sqlite:///:memory:)

In [9]:
from sqlalchemy import MetaData, Table, Column, Integer, String, ForeignKey

meta = MetaData()
users = Table('users', meta,
              Column('id', Integer, primary_key=True),
              Column('name', String),
              Column('fullname', String))

addr = Table('address', meta,
             Column('id', Integer, primary_key=True),
             Column('userid', Integer, ForeignKey('users.id')),
             Column('email', String, nullable=True))

In [10]:
meta.create_all(engine)

2020-07-14 15:40:19,518 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-07-14 15:40:19,525 INFO sqlalchemy.engine.base.Engine ()
2020-07-14 15:40:19,525 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-07-14 15:40:19,525 INFO sqlalchemy.engine.base.Engine ()
2020-07-14 15:40:19,532 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("users")
2020-07-14 15:40:19,532 INFO sqlalchemy.engine.base.Engine ()
2020-07-14 15:40:19,532 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("users")
2020-07-14 15:40:19,540 INFO sqlalchemy.engine.base.Engine ()
2020-07-14 15:40:19,540 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("address")
2020-07-14 15:40:19,540 INFO sqlalchemy.engine.base.Engine ()
2020-07-14 15:40:19,548 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("address")
2020-07-14 15:40:19,548 INFO sqlalchemy.engine.base.Engine ()
2020-07-14 15:40:19,555 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2020-07-14 15:40:19,555 INFO sqlalchemy.engine.base.Engine ()
2020-07-14 15:40:19,555 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-14 15:40:19,555 INFO sqlalchemy.engine.base.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	userid INTEGER,
	email VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(userid) REFERENCES users (id)
)


2020-07-14 15:40:19,563 INFO sqlalchemy.engine.base.Engine ()
2020-07-14 15:40:19,565 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
meta.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'address': Table('address', MetaData(bind=None), Column('id', Integer(), table=<address>, primary_key=True, nullable=False), Column('userid', Integer(), ForeignKey('users.id'), table=<address>), Column('email', String(), table=<address>), schema=None)})

In [12]:
meta.bind # 아직은 바인딩 되지 않음 # db랑 상관없다는 의미

In [14]:
print(users.insert())

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)

In [18]:
insert = users.insert().values(name='test', fullname='testtest')
print(insert)
print(insert.compile())
print(insert.compile().params)

INSERT INTO users (name, fullname) VALUES (:name, :fullname)
INSERT INTO users (name, fullname) VALUES (:name, :fullname)
{'name': 'test', 'fullname': 'testtest'}

In [19]:
conn = engine.connect()

In [20]:
conn.execute(insert)

2020-07-14 15:46:50,972 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2020-07-14 15:46:50,983 INFO sqlalchemy.engine.base.Engine ('test', 'testtest')
2020-07-14 15:46:50,987 INFO sqlalchemy.engine.base.Engine COMMIT

In [22]:
print(users.select().compile())

SELECT users.id, users.name, users.fullname
FROM users

In [23]:
conn.execute(users.select())

2020-07-14 15:48:47,571 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2020-07-14 15:48:47,571 INFO sqlalchemy.engine.base.Engine ()

In [24]:
cur = conn.execute(users.select())

2020-07-14 15:49:20,429 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2020-07-14 15:49:20,429 INFO sqlalchemy.engine.base.Engine ()

In [25]:
list(cur)

[(1, 'test', 'testtest')]

In [29]:
cur = conn.execute(users.insert(), {'name':'test2', 'fullname':'test2test2'})

2020-07-14 15:53:39,704 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2020-07-14 15:53:39,714 INFO sqlalchemy.engine.base.Engine ('test2', 'test2test2')
2020-07-14 15:53:39,715 INFO sqlalchemy.engine.base.Engine COMMIT

In [30]:
cur.lastrowid # 아ㅡㅡ

3

In [31]:
cur = conn.execute(users.select())

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None)

In [32]:
print(users.c.id == 1)
print((users.c.id == 1).compile().params)

users.id = :id_1
{'id_1': 1}

In [33]:
cur = conn.execute(users.select().where(users.c.id==1))
list(cur)

2020-07-14 16:01:11,323 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2020-07-14 16:01:11,323 INFO sqlalchemy.engine.base.Engine (1,)

[(1, 'test', 'testtest')]

In [39]:
cur = conn.execute(addr.insert(), {'usersid':1, 'email':'1@1.com'})

2020-07-14 16:10:13,016 INFO sqlalchemy.engine.base.Engine INSERT INTO address (email) VALUES (?)
2020-07-14 16:10:13,016 INFO sqlalchemy.engine.base.Engine ('1@1.com',)
2020-07-14 16:10:13,016 INFO sqlalchemy.engine.base.Engine COMMIT

In [35]:
cur.lastrowid

1

In [36]:
from sqlalchemy import join

In [37]:
conn.execute()

TypeError: execute() missing 1 required positional argument: 'object_'

In [38]:
print(users.join(addr))
print(select([users.c.name, users.c.fullname, addr.c.email,])\
     .select_from())

users JOIN address ON users.id = address.userid

In [40]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
engine = create_engine('sqlite:///ex3.db')
engine

Engine(sqlite:///ex3.db)

In [41]:
meta = MetaData()
users = Table('user', meta,
             Column('id', Integer, primary_key=True),
             Column('name', String, nullable=False))
addr = Table('address', meta,
            Column('id', Integer, primary_key=True),
            Column('user_id', Integer, ForeignKey('user.id')),
            Column('email', String))

In [42]:
meta.create_all(engine)

In [43]:
engine.execute(users.insert(), [{'name':1}, {'name':2}])

In [44]:
engine.execute(addr.insert(), [{'user_id':1, 'email':'1@com'},
                               {'user_id':2, 'email':'2@com'}])

In [45]:
cur = engine.execute(
    select([users.c.name, addr.c.email]).select_from(users.join(addr)))
cur.fetchall()

NameError: name 'select' is not defined