In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [5]:
conn = sqlite3.connect(':memory:')

In [6]:
cur = conn.cursor()

In [7]:
cur.execute('CREATE TABLE people (name_last, age);')

In [8]:
who = 'Yeltsin'
age = 72
cur.execute('INSERT INTO people VALUES (?, ?)', (who, age))

In [9]:
cur.execute("SELECT * FROM people")

In [10]:
cur.fetchall()

[('Yeltsin', 72)]

In [12]:
cur.execute('INSERT INTO people VALUES (:a, :b)', {'a':who, 'b':age})

In [13]:
data = [('a', 1),('b', 2),('c', 3)]
cur.executemany('INSERT INTO people VALUES (?, ?)', data)

In [14]:
cur.close()

In [15]:
conn.close()

In [16]:
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

In [17]:
cur.executescript('''
    CREATE TABLE people (name, age);
    INSERT INTO people VALUES ('a', 1);
''')

In [18]:
cur.execute('SELECT *  FROM people;')
cur.fetchall()

[('a', 1)]

In [19]:
cur.close()
conn.close()

In [20]:
conn = sqlite3.connect('exl.db')
cur = conn.cursor()

In [21]:
cur.executescript('''
    CREATE TABLE people (name, age);
    INSERT INTO people VALUES ('a', 1);
''')

In [22]:
cur.execute('SELECT *  FROM people;')
cur.fetchall()

[('a', 1)]

In [23]:
cur.execute('INSERT INTO people VALUES ("b", 2)')

In [ ]:
conn.commit()

In [27]:
cur.executemany('INSERT INTO people VALUES(?, ?)',
                [('C', 3), ('D', 4)])

In [28]:
cur.executescript('''
    INSERT INTO people VALUES('E', 5);
    INSERT INTO people VALUES('F', 6);
    INSERT INTO people VALUES('G', 7);
''')

In [29]:
cur.execute('CREATE TABLE temp (aaa, bbb)')

In [ ]:
cur.close()
conn.close()

In [31]:
cur.execute('DROP TABLE IF EXISTS sakmkaf')

In [32]:
cur.executescript('''
    DROP TABLE IF EXISTS company;
    CREATE TABLE company(
        id   INT   PRIMARY KEY,
        name TEXT  NOT NULL,
        age  INT   NOT NULL,
        address TEXT,
        salary REAL
    );
''')

In [33]:
cur.execute('INSERT INTO company VALUES(1, "AAA", 33, "seoul", 11.0)')

In [34]:
cur.execute('INSERT INTO company (name, age) VALUES("BBB", 44)')

In [35]:
conn.commit()

In [36]:
# cur.execute == conn.execute()

In [42]:
cur.lastrowid, conn.total_changes

(2, 10)

In [40]:
cur.execute('UPDATE company SET name="test" WHERE id=1;')

In [41]:
conn.commit()

In [43]:
cur.execute('UPDATE company SET address="test" WHERE id=1;')

In [44]:
cur.execute('SELECT * FROM company')
cur.fetchall()

[(1, 'test', 33, 'test', 11.0), (None, 'BBB', 44, None, None)]

In [45]:
cur.close()
conn.close()

In [46]:
conn = sqlite3.connect('exl.db')
cur = conn.cursor()

In [48]:
cur.execute('SELECT * FROM company')
cur.fetchall()

[(1, 'test', 33, 'seoul', 11.0), (None, 'BBB', 44, None, None)]

In [49]:
list(conn.iterdump())

['BEGIN TRANSACTION;',
 'CREATE TABLE company(\n        id   INT   PRIMARY KEY,\n        name TEXT  NOT NULL,\n        age  INT   NOT NULL,\n        address TEXT,\n        salary REAL\n    );',
 'INSERT INTO "company" VALUES(1,\'test\',33,\'seoul\',11.0);',
 'INSERT INTO "company" VALUES(NULL,\'BBB\',44,NULL,NULL);',
 'CREATE TABLE people (name, age);',
 'INSERT INTO "people" VALUES(\'a\',1);',
 'INSERT INTO "people" VALUES(\'b\',2);',
 'INSERT INTO "people" VALUES(\'C\',3);',
 'INSERT INTO "people" VALUES(\'D\',4);',
 'INSERT INTO "people" VALUES(\'E\',5);',
 'INSERT INTO "people" VALUES(\'F\',6);',
 'INSERT INTO "people" VALUES(\'G\',7);',
 'CREATE TABLE temp (aaa, bbb);',
 'COMMIT;']

In [50]:
cur.close()
conn.close()

In [51]:
conn = sqlite3.connect('playlist.db')
cur = conn.cursor()

In [55]:
cur.executescript('''
    DROP TABLE IF EXISTS Artist;
    CREATE TABLE Artist(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL
    );
    
    DROP TABLE IF EXISTS Album;
    CREATE TABLE Album(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL,
        Artist_id INT NOT NULL
    );
    
    DROP TABLE IF EXISTS Genre;
    CREATE TABLE Genre(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL
    );
    
    DROP TABLE IF EXISTS Track;
    CREATE TABLE Track(
        id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
        title TEXT NOT NULL,
        length INT NOT NULL,
        rating INT NOT NULL,
        count INT NOT NULL,
        Album_id INT NOT NULL,
        Genre_id INT NOT NULL
    );
''')

In [56]:
cur.execute('INSERT INTO Artist(title) VALUES(?)', ['Led Zepplin'])

In [57]:
cur.lastrowid

1

In [59]:
cur.execute('SELECT id FROM Artist WHERE title=?', ['Led Zepplin'])
cur.fetchone()[0]

1

In [60]:
cur.execute('''INSERT INTO Album(title, Artist_id)
    VALUES(?, ?)''', ['IV', cur.lastrowid])

In [61]:
cur.lastrowid

1

In [62]:
cur.execute('''
    INSERT INTO Artist VALUES(NULL, ?)
''', ['AC/DC'])

In [63]:
cur.lastrowid

2

In [68]:
cur.execute('''
    INSERT INTO Album VALUES(NULL, ?, (
        SELECT id FROM Artist WHERE title=? LIMIT 0,1
    ))
''', ['Who Made Who', 'AC/DC'])

In [69]:
cur.lastrowid, conn.total_changes

(2, 4)

In [70]:
conn.commit()

In [73]:
cur.executemany('INSERT INTO Genre(title) VALUES(?)', [('Rock',), ('Metal',)])

In [75]:
data = [
    ('Black Dog', 5, 297, 0, 'Who Made Who', 'Rock'),
    ('Stairway', 5, 297, 0, 'Who Made Who', 'Rock'),
    ('About To Rock', 5, 297, 0, 'IV', 'Metal'),
    ('Who Made Who', 5, 297, 0, 'IV', 'Metal'),
]

cur.executemany('''
    INSERT INTO Track VALUES(NULL, ?, ?, ?, ?, (
        SELECT id FROM Album WHERE title=? LIMIT 0,1
    ), (
        SELECT id FROM Genre WHERE title=? LIMIT 0,1
    ))
''', data)

In [76]:
conn.commit()

In [ ]:
cur.execute('''
    SELECT * FROM Artist, Album
    WHERE Artist_id=Album.Artist_id
''')
cur.fetchall()

In [80]:
cur.execute('''
    SELECT * FROM Album
    INNER JOIN Artist
    ON Artist.id=Album.Artist_id
''')
cur.fetchall()

[(1, 'IV', 1, 1, 'Led Zepplin'), (2, 'Who Made Who', 2, 2, 'AC/DC')]

In [82]:
cur.execute('''
    SELECT A.title, B.title FROM Track AS A
    INNER JOIN Album AS B
    ON A.Album_id=B.id
''')
cur.fetchall()

[('Black Dog', 'Who Made Who'),
 ('Stairway', 'Who Made Who'),
 ('About To Rock', 'IV'),
 ('Who Made Who', 'IV')]

In [83]:
cur.execute('''
    SELECT A.title, B.title, C.title FROM Track AS A
    INNER JOIN Album AS B
    ON A.Album_id=B.id
    INNER JOIN Genre AS C
    ON A.Genre_id=C.id
    WHERE C.title LIKE '%Rock%'
''')
cur.fetchall()

[('Black Dog', 'Who Made Who', 'Rock'), ('Stairway', 'Who Made Who', 'Rock')]

In [87]:
cur.execute('''
    SELECT A.title, B.title, C.title, D.title FROM Track AS A
    INNER JOIN Album AS B
    ON A.Album_id=B.id
    INNER JOIN Genre AS C
    ON A.Genre_id=C.id
    INNER JOIN Artist AS D
    ON B.Artist_id=D.id
    ORDER BY D.id ASC
''')
cur.fetchall()

[('About To Rock', 'IV', 'Metal', 'Led Zepplin'),
 ('Who Made Who', 'IV', 'Metal', 'Led Zepplin'),
 ('Black Dog', 'Who Made Who', 'Rock', 'AC/DC'),
 ('Stairway', 'Who Made Who', 'Rock', 'AC/DC')]